@charset "utf-8";

*,*::before,*::after{
    box-sizing: border-box;
}
p{
    margin: .5em 0;
}
.error{
    color: #b22222;
}
.header_icon{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 30px;
}
.logined{
    display: flex;
}
.goods{
    margin-top: 30px;
}
.goods_img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}